[submodule "jvsio"]
	path = jvsio
	url = git@github.com:toyoshim/jvsio.git
[submodule "chlib"]
	path = chlib
	url = git@github.com:toyoshim/chlib.git
[submodule "CH55x_python_flasher"]
	path = CH55x_python_flasher
	url = https://github.com/hexeguitar/CH55x_python_flasher.git
